# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SPLITPURBLE_LEFT
    def_bool $(shields_list_contains,splitPurble_left)


config SHIELD_SPLITPURBLE_RIGHT
    def_bool $(shields_list_contains,splitPurble_right)
